{% extends "bootstrap/base.html" %}
{% block title %}Network Visualization - Team Banana{% endblock %}


{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="d-flex justify-content-center">
          {% include '%s' % processed_text %}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="d-flex justify-content-center">Go Team Banana #BananaTime</div>
      </div>
    </div>
  </div>
{% endblock %}
